.button {
    border-radius: 4px;
    position: relative;
    border: 2px solid rgba(0,0,0,0);
    /* user-select: none; */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .3s ease, border .3s ease;
}

.button:focus {
    border: 2px solid rgba(0, 0, 0, 0.2);
} 

.button.disabled {
    background-color: #F2F2F2;
    color: #7F7F7F;
    pointer-events: none;
}

.buttonMd {
    padding: 0 20px;
    height: 36px;
    font-size: 13px;
    line-height: 36px;
}

.buttonSm {
    padding: 0 8px;
    height: 28px;
    font-size: 13px;
    line-height: 26px;
}

.buttonYellow {
    background-color: #FFCC00;
}


.buttonYellow:hover {
    background-color: #F2C200;
}

.buttonGrey {
    background-color: #E6E6E6;
}

.buttonGrey:hover {
    background-color: #DBDBDB;
}

.buttonText {
    margin-left: 6px;
}

@media screen and (max-width: 640px) {
    .buttonText {
        display: none;
    }
}